.multi-slider-wrapper{

    border-radius: 40px;
    width: 90%;
    height: 100%;
    background-color: #707070;
    padding: 20px 80px;
    margin: 40px 0px;

}
.multi-slider-wrapper .title{
    font-size: 24px;
    color: #fff;

}

.multi-slider-wrapper .light-border-card{
    position: relative;
    margin-bottom: 45px;

}

.multi-slider-wrapper .light-border-card img{
    display: block;
    margin: 0px auto 60px auto;
    width: 80%;
}
